<app-banner>

</app-banner>
<div class="products">
    <mat-card>
        testing
    </mat-card>
    <mat-card>
        testing
    </mat-card>
    <div class="product">
       <mat-card>
 
testing this
<mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
      Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
      was originally bred for hunting.
    </p>
  </mat-card-content>
        </mat-card>
     <mat-card>
         testing
     </mat-card>
     <mat-card>
        testing
    </mat-card>
    </div>
</div>