/* mat-card{
    width: 20%;
    /* display: inline-flex; */
    /* margin: 10%;
}
img{
    height: 30%;
    width: 30%;
} */ 
.product{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}
.product > mat-card > img{
    object-fit: contain;
    height: 200px;
}
.product > mat-card > button{
    margin-top: 20px;
    background-color: yellow;
    border: 1px solid;
    border-color: #021010;
    width: 40%
}